@import url(https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,400i,700,700i);



/*** VARIABLES ***/
/* Colors */
$black: #1d1f20;
$blue: #83e4e2;
$green: #a2ed56;
$yellow: #fddc32;
$white: #fafafa;



/*** EXTEND ***/
/* box-shadow */
%boxshadow {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
}



/*** STYLE ***/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $white;
  color: $black;
  font-family: 'Raleway', sans-serif;
}

main {
  display: block;
  margin: 0 auto;
  width: 98%;
  padding: .5rem;
}

a{
  text-decoration: none;
  color: #1d1f20;
}

ul.gradient-list {
  //counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
  > li {
    background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    @extend %boxshadow;
    //counter-increment: gradient-counter;
    margin-top: 1.2rem;
    min-height: 3rem;
    padding: .5rem 3rem;
    position: relative;
    &:hover{
      background-color: #dbebf4;
    }
    &::before,
    &::after {
      background: linear-gradient(135deg, $blue 20%,$green 100%);
      border-radius: 1rem 1rem 1rem 1rem;
      content: '';
      height: 2rem;
      left: -1rem;
      overflow: hidden;
      position: absolute;
      top: -1rem;
      width: 2rem;
    }
    &::before {
      align-items: flex-end;
      @extend %boxshadow;
      //content: counter(gradient-counter);
      color: $black;
      display: flex;
      font: 900 1.5em/1 'Montserrat';
      justify-content: flex-end;
      padding: 0.125em 0.25em;
      z-index: 1;
    }
    // @for $i from 1 through 5 {
    //   &:nth-child(10n+#{$i}):before {
    //     background: linear-gradient(135deg, rgba($green, $i * 0.2) 0%,rgba($yellow, $i * 0.2) 100%);
    //   }
    // }
    // @for $i from 6 through 10 {
    //   &:nth-child(10n+#{$i}):before {
    //     background: linear-gradient(135deg, rgba($green, 1 - (($i - 5) * 0.2)) 0%,rgba($yellow, 1 - (($i - 5) * 0.2)) 100%);
    //   }
    // }
    // + li {
    //   margin-top: 2rem;
    // }
  }
}
